<aside class="menu-sidebar d-none d-lg-block" style="background-color:rgb(7, 163, 166);">
    <div class="logo">
      <aside class="menu-sidebar d-none d-lg-block" style="background-color:rgb(7, 163, 166);">
        <div class="logo" style="background-color:rgb(44, 53, 62);">
          <a href="#">
            <h3 style="font-family: cursive;color:white"><i>EmpMngSys</i></h3>
         </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <a href="welcome" style="color:black;"><h4>Home</h4></a><br><br>
                <a href="employees" style="color:black;"><h4>Employee</h4></a><br><br>
                <a href="login" style="color:black;"><h4>login</h4></a>

            </nav>

        </div>
    </aside>


    </div>
    <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <a href="welcome">Home</a><br>
            <a href="employees">Employee</a><br>
            <a href="login">login</a>

        </nav>

    </div>
</aside>
<div class="main-content" >
    <div class="section-content section-content-p30 " style="margin: 250px;">
        <div class="container-fluid">
            <h2 style="color:white;font-weight: bold;font-size: 48px;">Welcome {{user.first_name}}</h2>
            <a class="" style="color:white;font-size: 22px;" href="/employees">Explore employee data</a>
        </div>
    </div>
</div>